[push]
	default = simple
[user]
	name = Romain Sabathe
	email = RSabathe@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
    pager = delta

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    line-numbers = true
	side-by-side = true
    dark = true

[interactive]
    diffFilter = delta --color-only
