xt.intensityStyles: false
URxvt.scrollBar: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false

! font
URxvt*font: xft:Source\ Code\ Pro\ Medium:size=8:antialias=true:hinting=true,xft:FontAwesome:size:8:antialias=true:hinting=false
! URxvt.letterSpace: -1

! terminal padding
URxvt.internalBorder: 0

! uncomment for transparent terminal if you are ready to be made fun of in #rice
! URxvt.transparent:	true
! URxvt.shading:	15

! make otf / ttf fonts look pretty.  does not matter if you are using a bitmap font.
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! clickable links, clipboard support, mouse wheel support, and on the fly font resizing
! you will need to install the respective perl extensions for these to work
URxvt.perl-ext-common: default,matcher,clipboard,vtwheel,resize-font
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

Urxvt.keysym.Shift-Control-C: perl:clipboard:copy
Urxvt.keysym.Shift-Control-V: perl:clipboard:paste

! colors

! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

! special
*.foreground:   #c0c5ce
*.background:   #2b303b
*.cursorColor:  #c0c5ce

! black
*.color0:       #2b303b
*.color8:       #65737e

! red
*.color1:       #bf616a
*.color9:       #bf616a

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #8fa1b3
*.color12:      #8fa1b3

! magenta
*.color5:       #b48ead
*.color13:      #b48ead

! cyan
*.color6:       #96b5b4
*.color14:      #96b5b4

! white
*.color7:       #c0c5ce
*.color15:      #eff1f5
