export ANTHROPIC_API_KEY='{{ (bitwardenSecrets "f052506d-4a43-4598-8f1f-b2e800b3f96c" .accessToken).value }}'
export OPENAI_API_KEY='{{ (bitwardenSecrets "24eae837-1453-434b-ab6f-b2e800d3fe23" .accessToken).value }}'
export GROQ_API_KEY='{{ (bitwardenSecrets "bac3c661-dc9f-40ca-a2e7-b2e800d44270" .accessToken).value }}'
