layout {
    // pane size=1 borderless=true {
    //     plugin location="tab-bar"
    // }
    pane split_direction="horizontal" {
      pane command="nvim" size="70%" borderless=true focus=true name="editor"
      pane split_direction="vertical" {
        pane size="60%" borderless=true name="runner"
        pane split_direction="horizontal" {
          pane command="lazygit" borderless=true name="lazygit"
          // pane command="htop"
        }
      }
    }
    // pane size=1 borderless=true {
    //     plugin location="status-bar"
    // }
}

